:root {
    --main-font-type: Luminova, Helvetica, sans-serif;
    --darkmode-highlight-color: #66FCF1;
    --lightmode-highlight-color: #b30710;
    --darkmode-background-color: #3b3b3b;
}

@font-face {
    font-family: Luminova;
    src: url(Luminova.otf);
}

body {
    margin: 0;
    font-family: var(--main-font-type, sans-serif);
    background-color: var(--darkmode-background-color, #3b3b3b);
    color: white;
}

body.light-mode {
    background-color: white;
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: black;
    overflow: hidden;
    display: flex;
    margin: 0;
    top: 0;
    align-items: center;
}

nav li {
    margin-right: 0;
}

nav li a {
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

nav li a:hover {
    background-color: var(--darkmode-highlight-color, #66FCF1);
    transform: scale(1.2);
}

#toggleButton {
    opacity: 0;
    order: 1;
    margin-left: auto;
}

body.light-mode nav label {
    color: white;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 1rem 1rem;
    margin: 0;
    color: var(--darkmode-highlight-color, #66FCF1);
}

body.light-mode h1 {
    color: var(--lightmode-highlight-color, #b30710);
}

h2 {
    color: var(--darkmode-highlight-color, #66FCF1);
}

body.light-mode h2 {
    color: var(--lightmode-highlight-color, #b30710);
}

section:has(ul) {
    text-align: center;
}

section:has(ul) ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section:has(ul) ul li {
    margin: 0;
    padding: 0;
}

#contact ul li a:visited {
    color: white;
}

.intro {
    margin: 1dvw;
    padding: 2rem 0rem 2rem 0rem;
}

.intro p {
    line-height: 3rem;
}

.projects {
    display: grid;
    margin: 1dvw;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
    grid-template-areas:
        "header1 img1"
        "para1 img1"
        "header2 img2"
        "para2 img2"
        "header3 img3"
        "para3 img3";
    justify-items: center;
    line-height: 3rem;
}

@media (max-width: 1279px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.5fr 1fr 0.1fr 0.5fr 1fr 0.1fr 0.5fr 1fr;
        grid-template-areas:
            "header1"
            "img1"
            "para1"
            "header2"
            "img2"
            "para2"
            "header3"
            "img3"
            "para3";
        justify-items: center;
        line-height: 3rem;
        grid-row-gap: 0rem;
        grid-column-gap: 0;
        margin: 1dvw;
    }
}

#project1header {
    grid-area: header1;
}

#project2header {
    grid-area: header2;
}

#project3header {
    grid-area: header3;
}

#project1 {
    grid-area: para1;
}

#project2 {
    grid-area: para2;
}

#project3 {
    grid-area: para3;
}

#project1img {
    grid-area: img1;
}

#project2img {
    grid-area: img2;
}

#project3img {
    grid-area: img3;
}

#project1img,
#project2img,
#project3img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: auto;
}

label {
    margin-bottom: 0.5rem;
}

input,
textarea {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

output.error {
    margin-top: 0.3rem;
    color: red;
    opacity: 0;
}

output.info {
    color: lime;
    margin-top: 0.3rem;
}

button {
    padding: 0.5rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 0.3rem;
}

output.error-flash {
    opacity: 1;
}

textarea.error-flash {
    border-color: red;
    border-width: 0.3rem;
}

div#commentsection {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

output.info-green {
    color: lime;
}

output.info-yellow {
    color: yellow;
}

output.info-red {
    color: red;
}